.reviews-container {
    width: 98%;
    height: auto;
    margin: 15% 1%;
    text-align: left;
  }

.reviews-table {
  border-collapse: collapse; 
  font-size: 1em;
  width: 100%;
}

.reviews-table thead th {
  background-color: #eeeeee;
  text-align: left;
}

.reviews-table th,
.reviews-table td {
  padding: 12px 15px; /* Gives the cells breathing room */
}

.reviews-table tbody tr {
  border-bottom: 1px solid #bbbbbb; /* Subdued dividers between rows */
}

.reviews-table thead tr {
  border-bottom: 1px solid #bbbbbb; /* Subdued dividers between rows */
}

.reviews-table td button {
  width: auto;
}

.reviews-table td button:disabled {
  background: grey;
  cursor: not-allowed;
  pointer-events: none;
}

.stars {
  color: grey;
  font-size: 24pt;
  cursor: pointer;
}

.stars-filled {
  color: gold;
  font-size: 24pt;
  cursor: pointer;
}

.stars:hover {
  color: gold;
  font-size: 24pt;
}

.review-form-container {
  background: white;
  padding: 25px;
  border: 1px solid black;
  border-radius: 10px;
}

.by-patient {
    font-size: 0.9em;
    font-style: italic;
    color: grey;
}

